<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechMatch"
        tools:targetApi="31">

        <!-- SPLASH SCREEN - İLK AÇILAN EKRAN -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN SCREEN -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- SIGN UP SCREEN -->
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- MAIN ACTIVITY (Artık ilk ekran değil) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- DİĞER AKTİVİTELER -->
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".activities.PortfolioActivity"
            android:exported="false" />

        <!-- ⭐ PROFIL DÜZENLEME EKRANI -->
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false" />

        <!-- 🚀 YENİ: TAKIM SİSTEMİ AKTİVİTELERİ -->
        <activity
            android:name=".activities.TeamCategoriesActivity"
            android:exported="false"
            android:label="Teknofest Kategorileri" />

        <activity
            android:name=".activities.TeamListActivity"
            android:exported="false"
            android:label="Takımlar" />

        <activity
            android:name=".activities.TeamDetailActivity"
            android:exported="false"
            android:label="Takım Detayı" />



    </application>

</manifest>